* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    color: rgb(8, 0, 80);
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 20px 15px; 
    min-height: 100vh; 
    background-image: url(src\assets\blueShape.png), url(src\assets\yellowShape.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top; 
    background-size: 200px, 200px; 
}

.start-button{
    height: 45px; 
    width: 60%; 
    border-radius: 15px; 
    background-color: rgb(78, 75, 255);  
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 15px;
}

label {
    display: inline-block;
    padding: 6px 12px; 
    margin: 3px 4px; 
    border: 1.5px solid #4d5b9e;
    border-radius: 10px;
    background-color: white;
    color: #4d5b9e;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 0.8rem; 
    
}

input[type="radio"]:checked + label {
    background-color: #4d5b9e;
    color: white;
    border-color: #4d5b9e;
}

input[type="radio"] {
    display: none;
}


.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}




